@model AdminPageinMVC.Entity.User

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update User</title>
	<style>
        /* Your CSS code here */
        .update-form {
            display: flex;
            flex-direction:column;
            gap:20px;
            justify-content:center;
            align-items:center;
            margin: 10px;
        }

        .input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display:flex;
            flex-direction: column;
            gap: 10px;
        }

        .btn-confirm{
            background-color: green; /* Adjust colors as needed */
            border: none;
            color: white;
            cursor: pointer;
            padding: 5px 10px;
            margin-right: 5px;
        }
        .btn-cancel {
            background-color: red; /* Adjust colors as needed */
            border: none;
            color: white;
            cursor: pointer;
            padding: 5px 10px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<form class="update-form" method="post" action="@Url.Action("UpdateUser", "User")">
	<input type="hidden" name="id" value="@Model.Id" />
	<input type="text" name="newFullName" value="@Model.FullName" class="input" />
	<input type="text" name="newEmail" value="@Model.Email" class="input" />
	<input type="text" name="newPassword" value="@Model.Password" class="input" />
	<button class="btn-confirm" type="submit">Confirm</button>
	<button class="btn-cancel">Cancel</button>
</form>
</body>
