@model List<AdminPageinMVC.Entity.Test>
@{
    Layout = "~/Views/Shared/_Test.cshtml";
}
<table class="user-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Question</th>
        <th>Options</th>
        <th>Right Option</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <form action="@Url.Action("UpdateTest", "Test")" method="post">
                <td>
                    <span>@test.Id</span>
                </td>
                <td>
                    <span class="view-mode">@test.Question</span>
                    <input type="text" class="edit-mode hide" name="question" value="@test.Question" />
                    <input type="hidden" name="id" value="@test.Id" />
                </td>
                    <td>
                        <ul>
                            @foreach (var option in test.Options)
                            {
                                <span class="view-mode">@option</span>
                                <input type="text" class="edit-mode hide" name="option" value="@option" />  
                            }
                        </ul>
                    
                    </td>
                    <td>
                        <span class="view-mode">@test.RightOption</span>
                        <input type="text" class="edit-mode hide" name="description" value="@test.RightOption" />
                    </td>
                <td>
                    <a class="btn-update">Update</a>
                    <button class="btn-confirm hide" asp-controller="Test" asp-action="UpdateTest" type="submit">Confirm</button>
                    <button class="btn-delete" asp-controller="Test" asp-action="DeleteTest" type="submit">Delete</button>
                    <a class="btn-cancel hide">Cancel</a>
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>